.flexpane-container {
    display: flex; 
    flex-direction: column;
    margin: 0; 
    padding: 0;
    max-height: 100vh;
}

.flexpane-pane { 
    overflow-y: auto; 
    padding: 0 10px;
}

.flexpane-buttons {
    display: flex;
    list-style: none;
    border-bottom: .05rem solid #e7e9ed;
    border-top: .05rem solid #e7e9ed;
    margin: -1px 0 0 0;
    padding: 0;
    /*font-size: 0;*/
    background-color: #FCFCFC;
    min-height: 22px;
}

.flexpane-buttons button.flexpane-resize {
    background: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    padding: 0;
    height: 22px;
    width: 22px;
}

.flexpane-buttons li.flexpane-title {
    margin: 0;
    padding: 0 10px;
    width: auto;
    font-style: italic;
}

.flexpane-pane-normal {
    flex-shrink: 1000;
}

.flexpane-pane-maximum {
    flex-shrink: 1;
}

.flexpane-pane-hidden {
    height: 0px;
}

.flexpane-buttons svg {
    height: 100%;
}

.flexpane-buttons svg path  {
    fill: #e7e9ed;
}

.flexpane-button-active svg path {
    fill: #5755d9;
}

.flexpane-button-active:hover svg path {
    fill: #4240D4;
}